
  <form id="baby-form">
    <h2>Baby</h2>
    <div class="mb-3">
      <label for="babyDropdown" class="form-label mx-2">Choose your baby</label>
      <select name="babyDropdown" id="babyDropdown" class="form-select">
        <option value=""></option>
        {{#each babyData as |baby|}}
          <option value="{{baby.id}}">{{baby.name}}
            -
            {{format_date baby.dob}}</option>
        {{/each}}
      </select>
    </div>
    <h2>Or add a baby</h2>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text" id="name-label">Baby Name</span>
        <input
          type="text"
          id="name"
          name="name"
          aria-describedby="name-label"
        />
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text" id="dob-label">Date of Birth</span>
        <input
          type="date"
          id="dob"
          class="form-control"
          name="dob"
          aria-describedby="dob-label"
        />
      </div>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" id="baby-btn" class="btn btn-primary">Submit</button>
    </div>
  </form>

<script src="/js/baby.js"></script>