<div class="diaper container-fluid">
    <section class="diaperChart">
        <div>
            <canvas id="myChart" width="50px" height="50px"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        </div>
    </section>
    <div class="diaperEntries">
        Recent changes:
        {{#each babyData as |diaper|}}
            <div>{{format_date diaper.time}}: {{diaper.type}}</div>
        {{/each}}
    </div>
</div>



<script>

let values = [];
let labels = [];


{{#each sortedDiaperQuantity}}
    labels.push("{{day}}")
    values.push("{{quantity}}")
{{/each}}


const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        {{!-- labels is labels:labels --}}
        labels,
        datasets: [{
                type: 'bar',
            label: '# of Diaper Changes',
            data: values,
            backgroundColor: [                    
                'rgba(13, 137, 219, 0.3)',
                'rgba(153, 102, 255, 0.3)',
                'rgba(153, 102, 255, 0.3)',
                'rgba(153, 102, 255, 0.3)',
                'rgba(153, 102, 255, 0.3)',                
                'rgba(153, 102, 255, 0.3)',
                'rgba(153, 102, 255, 0.3)',
                'rgba(153, 102, 255, 0.3)',
            ],
            borderColor: [
                'rgba(13, 137, 219, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>