<div class="diaper container-fluid">
    <section class="diaperChart">
        {{insert chart here}}
    </section>
    <div class="diaperEntries">
        {{insert diaper data here}}
    </div>
</div>