{{! Diaper input form }}
<div class="mb-3 p-2 input-container w-100">
  <h2>Diaper</h2>
  <form id="diaper-form" class="row align-items-center">
    <div class="col-sm-5 form-floating mb-3">
      <label for="diaper-type" class="form-label mx-3">Type of Diaper</label>
      <select
        name="diaper-type"
        id="diaper-type"
        class="form-select"
        aria-label="Floating label select"
      >
        <option value=""></option>
        <option value="Wet">Wet</option>
        <option value="Dry">Dry</option>
        <option value="Solid">Solid</option>
      </select>
    </div>
    <div class="col-sm-5 form-floating mb-3">
      <div class="input-group">
        <span class="input-group-text" id="diaper-time">Diaper change time:</span>
        <input
          type="datetime-local"
          id="diaper-changeTime"
          class="form-control"
          name="diaper-changeTime"
          aria-describedby="diaper-time"
        /></div></div>
    <div class="col-sm-2 mb-3">
      <button
        type="submit"
        id="diaper-btn"
        class="btn btn-primary"
      >Submit</button></div>
  </form>
</div>
{{! Diet input form }}
<div class="mb-3 p-2 input-container w-100">
  <h2>Diet</h2>
  <form id="diet-form" class="row align-items-center">
    <div class="col-sm-3 form-floating mb-3">
      <label for="diet-type" class="form-label mx-3">Type of food</label>
      <select
        name="diet-type"
        id="diet-type"
        class="form-select"
        aria-label="Floating label select"
      >
        <option value=""></option>
        <option value="bottle">bottle</option>
        <option value="nursing">nursing</option>
        <option value="snack">solid</option>
      </select>
    </div>
    <div class="col-sm-3 form-floating mb-3">
      <div class="input-group">
        <span class="input-group-text" id="diet-quantity">Quantity:</span>
        <input
          type="number"
          id="dietChangeQuantity"
          name="dietChangeQuantity"
          min="1"
          max="10"
          aria-describedby="diet-quantity"
        />
      </div>
    </div>
    <div class="col-sm-4 form-floating mb-3">
      <div class="input-group">
        <span class="input-group-text" id="diet-time">Eating time:</span>
        <input
          type="datetime-local"
          id="dietChangeTime"
          class="form-control"
          name="dietChangeTime"
          aria-describedby="diet-time"
        /></div></div>
    <div class="col-sm-2 mb-3">
      <button
        type="submit"
        id="diet-btn"
        class="btn btn-primary"
      >Submit</button></div>
  </form>
</div>

{{! sleep input form }}
<div class="mb-3 p-2 input-container w-100">
  <h2>Sleep</h2>
  <form id="sleep-form" class="row align-items-center">
    <div class="col-sm-10 form-floating mb-3">
      <div class="input-group">
        <span class="input-group-text" id="sleep-time">Sleep time:</span>
        <input
          type="datetime-local"
          id="sleep-changeTime"
          class="form-control"
          name="sleep-changeTime"
          aria-describedby="sleep-time"
        /></div></div>
    <div class="col-sm-2 mb-3">
      <button
        type="submit"
        id="sleep-btn"
        class="btn btn-primary"
      >Submit</button></div>
  </form>
</div>

<script src="/js/input.js"></script>