{{! diaper form card }}
<div class="card mb-5">
  <div class="card-header">
    <h2>Diaper Data Form</h2>
  </div>
  <div id="diaper">
    <form id="diaper-form" class="card-body">
      <label for="diaper-type">Choose a diaper type:</label>
      {{! select option for diaper type }}
      <select name="diaper-type" id="diaper-type">
        <option value=""></option>
        <option value="Wet">Wet</option>
        <option value="Dry">Dry</option>
        <option value="Solid">Soiled</option>
      </select>
      {{! input diaper change time }}
      <label for="diaper-changeTime">Diaper change time:</label>
      <input
        type="datetime-local"
        id="diaper-changeTime"
        name="diaper-changeTime"
      />
      <button type="submit" id="diaper-btn" class="btn">Submit</button>
    </form>
  </div>
</div>

{{! diet form card }}
<div class="card mb-5">
  <div class="card-header">
    <h2>Diet Data Form</h2>
  </div>
  <div id="diet">
    <form id="diet-form" class="card-body">
      <label for="food-type">Choose a food type:</label>
      {{! select option for diet food type }}
      <select name="food-type" id="food-type">
        <option value=""></option>
        <option value="bottle">bottle</option>
        <option value="nursing">nursing</option>
        <option value="snack">snack</option>
        <option value="canned">canned</option>
      </select>
      {{! input for food quantity }}
      <label for="food-quantity">Food quantity:</label>
      <input
        type="number"
        id="food-quantity"
        name="food-quantity"
        min="1"
        max="10"
      />
      {{! eat food time }}
      <label for="eat-time">Eat time:</label>
      <input type="datetime-local" id="eat-time" name="eat-time" />
      <button type="submit" id="diet-btn" class="btn">Submit</button>
    </form>
  </div>
</div>

{{! sleep form card }}
<div class="card mb-5">
  <div class="card-header">
    <h2>Sleep Data Form</h2>
  </div>
  <div id="sleep">
    <form id="sleep-form" class="card-body">
      {{! sleep time }}
      <label for="sleep-time">Time:</label>
      <input type="datetime-local" id="sleep-time" name="sleep-time" />
      <button type="submit" id="sleep-btn" class="btn">Submit</button>
    </form>
  </div>
</div>

<script src="/js/input.js"></script>