<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" />
    </div>
    <div>
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
    <a type="button" href="/signup">Click here to Sign Up</a>
  </form>
</div>
<script src="/js/login.js"></script>