<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup">
    <form id="signup-form" class="card-body">
      <div>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" />
      </div>
      <div>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <button type="submit" id="signup-btn" class="btn">Sign up</button>
      <a href="/login">Click here to Log In</a>
    </form>
  </div>
</div>
<script src="/js/signup.js"></script>