<div class="sleep container-fluid">
    <section class="sleepChart">
        {{!-- {{insert chart here}} --}}
    </section>
    <div class="sleepEntries">
        {{!-- {{insert sleep data here}} --}}
    </div>
</div>