/*
COLOR PALETTE
*/
:root {
  --dark: #ab32fe;
  --mid: #D196FC;
  --light: #EBD8FB;
  --imperialRed: #e63946;
  --honeyDew: #f1faee;
  --powderBlue: #a8dadc;
  --celadonBlue: #457b9d;
  --prussianBlue: #1d3557;
}
/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* sets default values*/
body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
}

h1,
h2 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}

a {
  color: var(--dark);
  text-decoration: underline;
  padding: 1rem;
}
a:hover {
    color: var(--light);
    background-color: var(--dark);
    text-decoration: none;
}
/* ------HEADER------ */
header {
  /* padding: 1rem; */
  background-color: var(--mid);
  text-align: center;
  border-bottom: 0.25rem dashed var(--mid);
}

header h1 {
  display: inline-block;
  font-size: 3rem;
  border-bottom: 0.2rem dotted var(--light);
}

/* ------MAIN------ */
/*
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.card {
  background-color: unset;
  border: 0.25rem dashed var(--powderBlue);
  margin-top: 0.25rem;
}
.btn {
  background-color: var(--imperialRed);
  color: var(--honeyDew);
  font: unset;
}
.list-group-item {
  background-color: var(--prussianBlue);
  text-align: center;
  color: var(--honeyDew);
  margin: 0.25rem;
} */
